<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head title="ING WebWeek"}}
</head>

<body>
  <header>
      <h1>Chat Client 3000&trade;</h1>
  </header>
  <ing-comments>
    <div class="comments-container">
    </div>
    <ing-comment-form></ing-comment-form>
  </ing-comments>
</body>

</html>