<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head title="ING WebWeek"}}
</head>

<body>
  <header>
    <h1>Chat Client 3000&trade;</h1>
  </header>
  <div class="container">
    <ing-comment-item name="Arnold" comment="I'll be back!"></ing-comment-item>
    <ing-comment-item name="Vlad" comment="Hallo!"></ing-comment-item>
    <ing-comment-form></ing-comment-form>
  </div>
</body>

</html>