@import '~uikit/src/scss/variables.scss';
@import '~uikit/src/scss/uikit.scss';

* {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  border-radius: 60% 40% 60% 40% / 61% 80% 20% 39%;
  padding: 3vw;
  margin: 20px;
  width: 18%;
  min-width: 240px;
  max-width: 275px;
  box-sizing: border-box;
  
  h1 {
    font-weight: 800;
  }
}

ing-comment-form {
  position: fixed;
  display: block;
  bottom: 0px;
  left: 50%;
  transform: translate3d(-50%, 70%, 0);
  transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 60%;
  max-width: 780px;
  z-index: 10;
  padding: 40px 80px 120px 40px;
  border-radius: 34% 66% 81% 19% / 64% 69% 31% 36%;
  // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  // background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  // background-image: linear-gradient(to top, #e7f0fd 0%, #accbee 100%);
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

  &:hover {
    border-radius: 49% 51% 24% 76% / 33% 42% 58% 67%;
    transform: translate3d(-50%, 30%, 0);
  }
  
  form {
    width: 60%;
    margin: 60px 25% 0 15%;
    transform: translate3d(0,0,0);
  }

  .uk-legend {
    color: white;
  }

  .uk-margin:nth-child(4) {
    transform: translate3d(105%, -110%, 0);
  }

}


ing-comment-list,
.container {
  position: relative;
  display: block;
  margin: 5vh auto 25vh auto;
  width: 50%;
  max-width: 640px;
}

ing-comment-item { 
  display: block;

  .uk-card-default {
    border-radius: 8px;
    overflow: hidden;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
    transition: box-shadow 1000ms ease;
  }

  .uk-card-body {
    padding: 2vh 2vw;
  }

  .uk-margin {
    margin-bottom: 4vh;
  }

  &:hover {
    .uk-card-default {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    }
  }
}

.uk-input,
.uk-textarea {
  border-radius: 6px;
  background: #f4f4f4;
  padding: 18px 15px;

  &:focus {
    outline: none;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.15);
  }
}

.uk-button-primary {
  border-radius: 30% 70% 50% 50% / 30% 39% 61% 70%;
  font-weight: 600;
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  transition: all 450ms cubic-bezier(1, 0, 0, 1);
  padding: 20px;

  &:hover {
    border-radius: 60% 40% 24% 76% / 61% 39% 61% 39%;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  }

  &:focus {
    border-radius: 44% 56% 60% 40% / 40% 57% 43% 60%;
    transform: scale(0.9);
  }
}

ing-comment-item {
  transform: translate3d(0, -10%, 0);
  opacity: 1;
  transform-style: preserve-3d;
  transition: all 250ms ease;

  p {
    font-size: 36px;
    font-weight: 200;

    &.card-name {
      font-size: 14px;
      font-weight: 700;
    }

    &.card-delete {
      font-size: 14px;
      font-weight: 400;
      text-align: right;
    }
  }
}